@import url("./nav-media.css");
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #ffffff; /* لون أبيض */
  --secondary-color: #3498db; /* لون أزرق فاتح */
  --background: #f5f5f5; /* لون خلفية رمادي فاتح */
  --light-color: #d8d8d8; /* لون نص غامق */
  --hover-color: #e2e2e2; /* لون تحويم أزرق */
  --padding: 60px;
  --margin: 60px;
  --font-family: 'Poppins', sans-serif; /* الخط الأساسي */
}

body {
  font-family: "Playwrite GB S", cursive;
  background-color: var(--background);
  color: var(--light-color);
  line-height: 1.6;
}

nav {
  background-color: var(--main-color);
  width: 100%;
  height: 60px;
  padding: 18px;
  border-bottom: var(--secondary-color) 1px solid;
}

nav .container {
  display: flex;
  justify-content: space-between;
}

nav .logo span {
  color: var(--secondary-color);
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 20px;
  text-shadow: 3px 1px 10px rgba(110, 110, 110, 0.1);
}

nav .logo span span {
  color: var(--light-color);
}

nav .links ul {
  display: flex;
}

nav .links ul li:not(:last-child) {
  margin-right: 40px;
}

nav .links ul li a {
  color: var(--light-color);
  font-weight: 600;
  font-size: 17px;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

nav .links ul .active a {
  color: var(--secondary-color);
}

nav .links ul li a i {
  color: var(--light-color);
  margin-left: 12px;
  transition: color 0.3s ease;
  font-size: 17px;
}

nav .links ul li a:hover {
  color: var(--hover-color);
  text-shadow: 0 0 5px var(--hover-color);
}

nav .links ul li a i:hover {
  color: var(--hover-color);
}
